page-login {
.bg-login{
  background-color: #002642;
  }
.item-md{
  background-color: #002642 !important;
  color: #fff !important;
}
.p-text{
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.margin-center{
  margin: 0 auto;
}
.m-20{
  margin: 10px 0;
}
.m-5{
  margin: 5px 0;
}
.social-logo{
  margin: 0 auto;
  font-size:35px;
  color: #fff;
}
.p-5{
  padding: 0 8px;
}
}
