page-feedback {
  .center{
    margin: 0 auto;
  }
  .bg-feedback{
    background-color: #002642;
    color: #fff;
  }
  .f-30{
    font-size: 30px;
  }
  .t-text{
    text-align: center;
    font-size: 20px;
  }

}
