page-home {
  .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
#bg1{
  background-color: #0b4f6c;
}
#bg2{
  background-color: #0b4f6c;
}
#bg3{
  background-color: #1d84b5;
}
#bg4{
  background-color: #1d84b5;
}
#bg5{
  background-color: #13c4a3;
}
#bg6{
  background-color: #13c4a3;
}
.bg-whole{
  background-color: #fff;
}
.t-icon{
  padding: 10px;
  font-size: 60px;
  color: #fff;
}
.bg-card{
  background-color: rgba(8, 18, 27, 0.85);
}
.card-text{
  background-color: rgba(4, 8, 16, 0.42);;
  color: #fff;
  font-size: 12px;
}
.t-text{
  text-align: center;
  color: #fff;
}
.item-md{
  padding-left: 14px;
}
}
