page-coupongenerate {
  .sound{
    margin: 30px 0;
    font-size: 120px;
   }
  .center{
    margin: 0 auto;
  }
  .coupon-title{
    font-size: 25px;
    text-align: center;
  }
  .m-50{
    margin: 50px 0;
  }
  .f-18{
    font-size: 18px;
  }
  .bg-generate {
    color: #fff;
    background-color: #002642;
}
.s-mic{
  position: relative;
}
.s-load{
  font-size: 60px;
  position: absolute;
  top: 0%;
  left: 0%;
}
ion-spinner * {
  width: 230px;
  height: 230px;
  stroke: #13c4a3;
  fill: #13c4a3;
}
}
