page-refer {
 .mt{
   margin: 0 auto;
 }
 .refer-icon{
    border-radius: 50%;
    font-size: 50px;
    border: 1px solid #13c4a3;
    padding: 10px;
    color: #13c4a3;
 }
 .s-text{
   text-align: center;
   font-size: 14px;
 }
 .share-icon{
    font-size: 45px;
    margin: 0 auto;
    color: #13c4a3;

 }
 .middle{
   text-align: center;
 }
 .p-16{
   padding: 16px 0;
 }
 .s-border{
   padding: 10px 0;
   border-top: 1px solid #5a5d5f;
 }
}
